@import url(https://fonts.googleapis.com/css?family=Abel);

html {
    font-family: 'Abel', sans-serif;

}

nav .brand-logo {
    position: absolute;
    padding: 5px;
}

.titulo {
    font-size: 24px;
    text-transform: uppercase;
}

p{
  text-align: justify;
}

nav{
  background-color: #008291;
}

.textcolor{
  color: #82b1ff;
}

.fondoCarta{
	background-color: #008291;
}

.fondoCarta2{
	background-color: #F3EC26;
}

.fondoCarta3{
	background-color: #983CF6;
}

.fondoCarta4{
	background-color: #188E0C;
}

.color-title-gold{
	color:#F6D811;
}

.color-title-blue{
	color: #008291;
}

.ptc{
	background-color: #008291;
}