p{
  text-align: justify;
}

.footercop{
  background-color: #e8ebef;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav{
  background-color: #0077ff;
}



.textcolor{
  color: #82b1ff;
}

main {
  flex: 1 0 auto;
}